In [1]:
import pandas as pd
from sklearn.cluster import KMeans
import folium 
import matplotlib.cm as cm
import matplotlib.colors as colors
print("Libraries imported")
import numpy as np

Libraries imported

In [2]:
df=pd.read_excel(r'C:\Users\PALA\Desktop\week3\toronto.xlsx')
df.head()

  Postal Code Borough                                     Neighbourhood
0         M6C    York                                Humewood-Cedarvale
1         M6E    York                               Caledonia-Fairbanks
2         M6M    York  Del Ray, Mount Dennis, Keelsdale and Silverthorn
3         M6N    York                     Runnymede, The Junction North
4         M9N    York                                            Weston

In [3]:
df.describe(include="all")  # there is no repetition on Postal code, every Postal code is unique

       Postal Code       Borough Neighbourhood
count          180           180           180
unique         180            11           100
top            M1G  Not assigned  Not assigned
freq             1            77            77

In [4]:
df.drop(df[df.Borough=="Not assigned"].index,inplace=True) # dropping "not assigned " values for  borough column
df.Borough.unique()

array(['York', 'West Toronto', 'Scarborough', 'North York', 'Mississauga',
       'Etobicoke', 'East York', 'East Toronto', 'Downtown Toronto',
       'Central Toronto'], dtype=object)

In [5]:
df[df.Neighbourhood=="Not assigned"] #  checking- there is no "not assigned" neighbourhood

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

In [6]:
df.shape

(103, 3)